@import url('./styles/normalize.css');
@import url('./fonts/fonts.css');
@import url('./styles/header.css');
@import url('./styles/section.css');
@import url('./styles/menu.css');
@import url('./styles/product.css');
@import url('./styles/card-content.css');
@import url('./styles/badges.css');
@import url('./styles/tags.css');
@import url('./styles/footer.css');

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 1440px;
	font-family: 'Inter', sans-serif;
}

@media (max-width: 1439px) {
	body {
		min-width: 1024px;
	}
}

@media (max-width: 1023px) {
	body {
		min-width: 768px;
	}
}

@media (max-width: 767px) {
	body {
		min-width: 320px;
	}
}