.tag {
	max-width: fit-content;
	padding: 8px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 20px;
}

.tag--available {
	color: #1C1C1C;
 	background-color: #FEDD2C;
}

.tag--close {
 	background-color: #727272;
}

@media (max-width: 1439px) {
	.tag {
		padding: 6px;
		font-size: 12px;
		line-height: 18px;
	}
}

@media (max-width: 1023px) {
	.tag {
		padding: 4px;
		font-size: 10px;
		line-height: 16px;
	}
}